# Archivos de compilación
bin/
obj/

# Configuraciones de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales
*.log
*.tmp
*.temp

# Configuración local
.vs/
*.vscode/

# Publicaciones temporales
publish/
out/

# Archivos de sistema
Thumbs.db
Desktop.ini

# Paquetes NuGet
*.nupkg
*.snupkg
packages/
